/**
 * css document for cookiebar
 */
.cookiebar{
    background: rgba(0,0,0,0.8);
    color: #FFF;
    padding: 5px 0;
}
.cookiebar .cookiebar_wrap{
    width: 1000px;
    margin: 0 auto;
}
.cookiebar .cookiebar_clear{
    display: block;
    visibility: hidden;
    clear: both;
}
.cookiebar .cookiebar_wrap .cookiebar_text{
    float: left;
    padding-top: 3px;
}
.cookiebar .cookiebar_wrap .cookiebar_confirm,
.cookiebar .cookiebar_wrap .cookiebar_close{
    float: right;
    cursor: pointer;
    border: 1px solid rgba(255,255,255, 0.5);
    background: rgba(255,255,255, 0.1);
    padding: 3px 10px;
    margin: 0 0 0 10px;
    opacity: 0.7;
}
.cookiebar .cookiebar_wrap .cookiebar_confirm:hover,
.cookiebar .cookiebar_wrap .cookiebar_close:hover{
    opacity: 1;
}
.cookiebar a{
    color: rgba(255,255,255, 0.8);
    text-decoration: underline;
}
.cookiebar a:hover{
    text-decoration: none;
}
