<h2>What are cookies?</h2>

<p>Cookies are small files which are stored on a user's computer. When the user browses the same website in the future, the data stored in the cookie is sent back to the website by the browser to notify the website of the user's previous activity.</p>

<h2>Which cookies do we use?</h2>

<p>We use cookies described in the table below. Those <b>cookies are essential for operation of our online store</b>. Without cookies enabled you cannot shop in our online store. No personal information is stored within these cookies. Information collected through cookies will not be disclosed to third parties.</p>

<table class="table">
    <tr>
        <th width="230">Name</th>
        <th>Description</th>
        <th width="190">Expiration Time</th>
    </tr>
    <tr>
        <td>woocommerce_cart_hash</td>
        <td>Contains information about the cart as a whole and helps WooCommerce know when the cart data changes.</td>
        <td>when the browsing is closed</td>
    </tr>
    <tr>
        <td>woocommerce_items_in_cart</td>
        <td>Also contains information about the cart as a whole and helps WooCommerce know when the cart data changes.</td>
        <td>when the browsing is closed</td>
    </tr>
    <tr>
        <td>wp_woocommerce_session_</td>
        <td>Contains a unique code for each customer so that it knows where to find the cart data in the database for each customer.</td>
        <td>when the browsing is closed</td>
    </tr>
    <tr>
        <td>cookiebar_enabled</td>
        <td>Remembers if cookies are enabled or not.</td>
        <td>1 year</td>
    </tr>
</table>